.btnstyle {
  margin-left: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(34, 121, 197);
  background: black;
}

body {
  background-color: rgb(182, 212, 125);
}

.compbtn {
  text-decoration: line-through;
}

.fontStyle {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: left;
}
