.sub-comp {
  border: 1px solid #534040;
  margin: 10px 0;
  padding: 10px;
}

.que {
  font-weight: bold;
  cursor: pointer;
}

.ans {
  display: none;
  margin-top: 5px;
}

.ans.show {
  display: block;
}
